<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Alterar Cursos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-heading" align="center">
			<strong>Alterar Cursos</strong>		
		</div>
		
		<div class="panel-body">
			<form class="form-horizontal" th:object="${curso}" th:action="@{/curso/alterarCurso}" method="POST" style="margin: 10px">
			<div class="form-group">
				<fieldset>
					<!-- 
					<div class="form-group row">
						<label>ID</label>
						<input type="text" class="form-control input-sm" id="id" th:field="*{id}" readonly="readonly">	
					</div>
					 -->
					 
					<div class="form-group row">
						<input type="hidden" class="form-control input-sm" id="id" th:field="*{id}"/>
					</div>
					
					<div class="form-group row">
						<label>Nome</label>
						<input type="text" class="form-control input-sm" id="nome" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o Nome" maxlength="50"/>
					</div>
					
					<div class="form-group row">
						<label>Descrição</label>
						<input type="text" class="form-control input-sm" id="descricao" th:field="*{descricao}" autofocus="autofocus" placeholder="Informe a Descrição" maxlength="200"/>
					</div>
					
					<div class="form-group row">
						<label>Preço</label>
						<input type="number" step="any" class="form-control input-sm" id="preco" th:field="*{preco}" autofocus="autofocus" maxlength="10"/>
					</div>
					
					<label>Categoria</label>
					<!--
					<select class="custom-select" th:field="*{categorias}" multiple="multiple">
					<option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.name}"></option>					
					</select>
					-->
					
					<ul style="list-style: none;">
						<li th:each="cat : ${categorias}">
							<input type="checkbox" th:field="*{categorias}" th:value="${cat.id}" th:checked="${true}"/>
							<label th:text="${cat.nome}"></label>
						</li>
					</ul>
				</fieldset>
			</div>
			
			<div align="center">
				<button type="submit" class="btn btn-sm btn-primaty">Salvar</button>
				<a th:href="@{/curso/listarCurso}" class="btn btn-sm btn-default">Cancelar</a>
			</div>
			</form>
		</div>
	</div>
</body>
</html>